* {
    margin: 0;
}

body {
    background-color: #DABFFF;
    height: 100vh;
}

/* navbar */

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2A4A;
    color: #DABFFF;
}

.globe {
    font-size: 50px !important;

}

.welcome {
    color: rgb(206, 206, 206);
    display: flex;
    align-items: center;
}

.welcome p {
    margin: 10px;
}

.account {
    color: rgb(206, 206, 206);
    text-align: center;
}

/* main content */

.content {
    display: flex;
}

/* left section */

.left {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side-item {
    display: flex;
    align-items: center;
    margin: 10px;
}
.side-item p{
    margin-left: 20px;
    color: #2C2A4A;
}

.side-icon {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

/* center section */

.center {
    width: 65%;
}

.content-item {
    width: 100%;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    background-color: #f7a3ff
}

.content-item p {
    margin: 10px;
    color: #2C2A4A;
}

.content-item img {
    border-radius: 10px;
}


/* right section */
.right {
    width: 15%;
    text-align: center;
}

.big-icon {
    font-size: 50px !important;
    margin: 20px;
    display: block !important;
    color: #2C2A4A;
}