* {
    margin: 0;
}

.navbar {
    border: solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    display: flex;
    align-items: center;
}

.welcome p {
    margin: 10px;
}

.account {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    border: green solid;
    height: 100vh;
}

.left {
    border: purple solid;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side-item {
    display: flex;
    align-items: center;
  
    margin: 5px;
}
.side-item p{
    margin-left: 20px;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.center {
    border: solid;
    width: 65%;
}

.content-item {
    width: 100%;
    display: flex;
    margin: 10px;
    border-radius: 10px;
}

.content-item p {
    margin: 10px;
}

.right {
    border: pink solid;
    width: 15%;
    text-align: center;
}

.big-icon {
    font-size: 50px !important;
}

.side-icon {
    margin: 20px;
}